
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}


<div id="preloder">
    <div class="loader"></div>
</div>

@*header section begins*@

<header class="header-section">
    <div class="container-fluid">
        <div class="logo">
            <a href="~/Home/index">
                @*                <img src="~/Images/logo.png" alt="">*@
            </a>
        </div>
        <div class="top-social">
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
        <div class="container">
            <div class="nav-menu">
                <nav class="mainmenu mobile-menu">
                    <ul>
                        <li class="active"><a href="~/Home/index">Home</a></li>
                        <li><a href="#aboutus">About us</a></li>
                        <li><a href="#Schedule">Schedule</a></li>
                        <li><a href="#gallery">Gallery</a></li>
                        <li><a href="#results">Results</a></li>
                        <li><a href="#contacts">Contacts</a></li>
                        <li><a href="~/Registration/index">Registration</a></li>
                        <li>
                            <a href="#">Login</a>
                            <ul class="dropdown">
                                <li><a href="~/Accounts/login">Student Login</a></li>
                                <li><a href="#">Admin Login</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>

@*header section ends*@

@*slider section Starts*@

<section class="hero-section">
    <div class="hero-items owl-carousel">
        <div class="single-hero-item set-bg" data-setbg="../Images/hero-slider/hero-4.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hero-text">
                            <h2>Join Now</h2>
                            <h1>PARTICIPATE & ENJOY</h1>
                            <a href="~/Registration/index" class="primary-btn">REGISTER</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-hero-item set-bg" data-setbg="../Images/hero-slider/hero-5.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hero-text">
                            <h2>NEW ERA OF YF</h2>
                            <h1>PARTICIPATE AND ENJOY</h1>
                            <a href="~/Registration/index" class="primary-btn">REGISTER</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-hero-item set-bg" data-setbg="../Images/hero-slider/hero-.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hero-text">
                            <h2>FESTIVAL BEGINS</h2>
                            <h1>BE THERE AND BE A PART</h1>
                            <a href="~/Registration/index" class="primary-btn">REGISTER</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*slider section ends*@

@*News section Starts*@

<section class="cta-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 cta-text news blue">
                <h3>
                    <marquee class="cta-text">
                        <i class="fa fa-angle-double-right"></i>
                        Google News is a news aggregator service developed by Google. &nbsp;
                        <i class="fa fa-angle-double-right"></i>
                        Google News is a news aggregator service developed by Google. &nbsp;
                    </marquee>
                </h3>
            </div>
        </div>
    </div>
</section>

@*News section Ends*@

@*AboutUs section Starts*@

<section class="home-about spad" id="aboutus">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-text">
                    <h2>ABOUT FG</h2>
                    <p class="long-details">
                        <b>Festival Governance</b>
                        is a organisational set up from college level to state level for the conduct of the Kalolsavam is monitored
                        by Education Department as per the manual drafted by experts in the field. Looking back into the
                        history of college Kalolsavam in the last 53 years it is seen that the Kalolsavam has refined
                        much in letter and spirit. Students get opportunity to express their talent in college level,
                        sub district level, district level and at last at state level. When performers reach state level,
                        perfection reaches its zenith.
                    </p>
                    <a href="#" class="primary-btn about-btn">More</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="~/Images/home-about-1.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

@*AboutUs section Ends*@

@*Video section begins*@

<section class="video-section set-bg" data-setbg="../Images/hero-slider/hero-4.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="video-text">
                    <h2>INAGURATION LIVE</h2>
                    <a href="https://www.youtube.com/watch?v=FR90aBzti_c" class="play-btn video-popup">
                        <i class="fa fa-play"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

@*Video section ends*@

@*Schedule section Starts*@

<section class="classtime-section class-time-table spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <h2>schedule</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="timetable-controls">
                    <ul>
                        <li class="" data-tsfilter="all">All</li>
                        <li data-tsfilter="stage 4" class="">Seminar Hall</li>
                        <li data-tsfilter="stage 2" class="">Back Stage</li>
                        <li data-tsfilter="stage 1" class="">Main Stage</li>
                        <li data-tsfilter="stage 3" class="">Conference Hall</li>
                        <li data-tsfilter="stage 5" class="active">Blue Hall</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="classtime-table filtering">
                <table>
                    <thead>
                        <tr>
                            <th>
                                <a href="~/Image/UploadFile/Palayanam Shedule 2020.pdf" target="_blank" style="color: #e4381c;">
                                    <i class="fa fa-download" aria-hidden="true"></i>
                                </a>
                            </th>
                            <th>01-may-2020</th>
                            <th>02-may-2020</th>
                            <th>03-may-2020</th>
                            <th>04-may-2020</th>
                            <th>05-may-2020</th>
                            <th>06-may-2020</th>
                            <th>07-may-2020</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="workout-time">10.00 am</td>
                            <td class="hover-bg ts-item" data-tsmeta="stage 1">
                                <span>10.00 - 14.00</span>
                                <span>stage 1</span>
                                <h6>Mohiniattam</h6>

                            </td>
                            <td class="hover-bg ts-item" data-tsmeta="stage 2">
                                <span>10.00 - 15.00</span>
                                <span>stage 2</span>
                                <h6>Mimicry(M)</h6>
                            </td>
                            <td class="hover-bg ts-item" data-tsmeta="stage 2">
                                <span>10.00 - 15.00</span>
                                <span>stage 2</span>
                                <h6>Mime</h6>
                            </td>
                            <td class="hover-bg ts-item" data-tsmeta="stage 2">
                                <span>10.00 - 15.00</span>
                                <span>stage 2</span>
                                <h6>Mimicry (F)</h6>
                            </td>
                            <td class="hover-bg ts-item" data-tsmeta="stage 3">
                                <span>10.00 - 13.00</span>
                                <span>stage 3</span>
                                <h6>Monoact</h6>
                            </td>

                            <td class="hover-bg ts-item" data-tsmeta="stage 4">
                                <span>10.00 - 13.30</span>
                                <span>stage 2</span>
                                <h6>HINDUSTANI CLASSICAL VOCAL (M)</h6>
                            </td>

                            <td class="hover-bg ts-item" data-tsmeta="stage 4">
                                <span>10.00 - 13.30</span>
                                <span>stage 4</span>
                                <h6>Kadapresagam</h6>
                            </td>
                        </tr>
                        <tr>
                            <td class="workout-time">10.00 am</td>
                            <td class="hover-bg ts-item" data-tsmeta="stage 1">
                                <span>10.00 - 14.00</span>
                                <span>stage 1</span>
                                <h6>Kadakali</h6>

                            </td>

                            <td class="hover-bg ts-item" data-tsmeta="stage 4">
                                <span>10.00 - 13.30</span>
                                <span>stage 3</span>
                                <h6>HINDUSTANI CLASSICAL VOCAL (F)</h6>
                            </td>

                            <td class="hover-bg ts-item" data-tsmeta="stage 2">
                                <span>10.00 - 15.00</span>
                                <span>stage 2</span>
                                <h6>Gazal(M)</h6>
                            </td>
                            <td class="hover-bg ts-item" data-tsmeta="stage 4">
                                <span>10.00 - 13.30</span>
                                <span>stage 4</span>
                                <h6>ELOCUTION TAMIL</h6>
                            </td>
                            <td class="hover-bg ts-item" data-tsmeta="stage 3">
                                <span>10.00 - 13.00</span>
                                <span>stage 3</span>
                                <h6>Gazal(F)</h6>
                            </td>
                            <td class="hover-bg ts-item" data-tsmeta="stage 3">
                                <span>10.00 - 13.00</span>
                                <span>stage 1</span>
                                <h6>ELOCUTION ENGLISH</h6>
                            </td>
                            <td class="hover-bg ts-item" data-tsmeta="stage 4">
                                <span>10.00 - 13.30</span>
                                <span>stage 4</span>
                                <h6>BHARATHANATYAM</h6>
                            </td>
                        </tr>
                        <tr>
                            <td class="workout-time">10.00 am</td>
                            <td class="hover-bg ts-item" data-tsmeta="stage 1">
                                <span>10.00 - 14.00</span>
                                <span>stage 1</span>
                                <h6>FANCY DRESS</h6>

                            </td>
                            <td class="hover-bg ts-item" data-tsmeta="stage 2">
                                <span>10.00 - 15.00</span>
                                <span>stage 2</span>
                                <h6>LIGHT MUSIC (F)</h6>
                            </td>
                            <td class="hover-bg ts-item" data-tsmeta="stage 2">
                                <span>10.00 - 15.00</span>
                                <span>stage 3</span>
                                <h6>ESSAY WRITING TAMIL</h6>
                            </td>
                            <td class="hover-bg ts-item" data-tsmeta="stage 3">
                                <span>10.00 - 13.00</span>
                                <span>stage 3</span>
                                <h6>LIGHT MUSIC (M)</h6>
                            </td>
                            <td class="hover-bg ts-item" data-tsmeta="stage 3">
                                <span>10.00 - 13.00</span>
                                <span>stage 4</span>
                                <h6>POETRY WRITING SANSKRIT</h6>
                            </td>
                            <td class="hover-bg ts-item" data-tsmeta="stage 4">
                                <span>10.00 - 13.30</span>
                                <span>stage 4</span>
                                <h6>GROUP SONG</h6>
                            </td>
                            <td class="hover-bg ts-item" data-tsmeta="stage 5">
                                <span>10.00 - 13.30</span>
                                <span>stage 5</span>
                                <h6>SHORT STORY WRITING TAMIL</h6>
                            </td>
                        </tr>
                        <tr>
                            <td class="workout-time">10.00 am</td>
                            <td class="hover-bg ts-item" data-tsmeta="stage 1">
                                <span>10.00 - 14.00</span>
                                <span>stage 1</span>
                                <h6>STRINGED INSTRUMENT (EASTERN)</h6>

                            </td>
                            <td class="hover-bg ts-item" data-tsmeta="stage 5">
                                <span>10.00 - 15.00</span>
                                <span>stage 5</span>
                                <h6>ESSAY WRITING HINDI</h6>
                            </td>
                            <td class="hover-bg ts-item" data-tsmeta="stage 2">
                                <span>10.00 - 15.00</span>
                                <span>stage 2</span>
                                <h6>WIND INSTRUMENT (EASTERN)</h6>
                            </td>
                            <td class="hover-bg ts-item" data-tsmeta="stage 5">
                                <span>10.00 - 13.00</span>
                                <span>stage 5</span>
                                <h6>SPOT PHOTOGRAPHY</h6>
                            </td>
                            <td class="hover-bg ts-item" data-tsmeta="stage 3">
                                <span>10.00 - 13.00</span>
                                <span>stage 3</span>
                                <h6>MAPPILAPATTU (M)</h6>
                            </td>
                            <td class="hover-bg ts-item" data-tsmeta="stage 5">
                                <span>10.00 - 13.00</span>
                                <span>stage 5</span>
                                <h6>MARGAMKALI</h6>
                            </td>
                            <td class="hover-bg ts-item" data-tsmeta="stage 4">
                                <span>10.00 - 13.30</span>
                                <span>stage 4</span>
                                <h6>MAPPILAPATTU (F)</h6>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

@*Schedule section Ends*@

@*Gallery section Starts*@

<section class="blog-section spad" id="gallery">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <h2>Gallery</h2><a href="#" class="primary-btn cta-btn">MORE</a>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="row blog-gird" style="position: relative; height: 1230px;">
            <div class="grid-sizer"></div>
            <div class="col-lg-4 col-md-6 grid-item" style="position: absolute; left: 0px; top: 0px;">
                <div class="blog-item large-item set-bg" data-setbg="../Images/gallery/gallery-1.jpg"></div>
            </div>
            <div class="col-lg-4 col-md-6 grid-item" style="position: absolute; left: 360px; top: 0px;">
                <div class="blog-item instagram-item">
                    <a href="https://www.instagram.com/" target="_blank" class="instagram-text">
                        <div class="categories">For More<i class="fa fa-instagram"></i></div>
                        <h5>For More Follow on Instagram # YG # photo</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grid-item" style="position: absolute; left: 360px; top: 258.6px;">
                <div class="blog-item small-item set-bg" data-setbg="../Images/gallery/gallery-1.jpg">

                </div>
            </div>
            <div class="col-lg-4 col-md-6 grid-item" style="position: absolute; left: 0px; top: 450px;">
                <div class="blog-item large-item xls-large set-bg" data-setbg="../Images/gallery/gallery-2.jpg">

                </div>
            </div>
            <div class="col-lg-4 col-md-6 grid-item" style="position: absolute; left: 360px; top: 548.6px;">
                <div class="blog-item large-item set-bg" data-setbg="../Images/gallery/gallery-3.jpg">
                    <div class="play-btn">
                        <a href="https://www.youtube.com/watch?v=Px58vzcCFcY" class="play-in-btn video-popup">
                            <i class="fa fa-play"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grid-item" style="position: absolute; left: 0px; top: 940px;">
                <div class="blog-item small-item set-bg" data-setbg="../Images/gallery/gallery-4.jpg">

                </div>
            </div>
        </div>
    </div>
</section>

@*Gallery section Ends*@

@*Results section Starts*@

<section class="classtime-section class-time-table spad" id="results">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <h2>Results</h2><a href="#" class="primary-btn cta-btn">MORE RESULTS</a>
                </div>
            </div>
        </div>
        <div class="classtime-table">
            <table>
                <thead>
                    <tr>
                        <th>Chess No..</th>
                        <th>Name</th>
                        <th>College Name</th>
                        <th>Course</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="hover-bg ts-item" data-tsmeta="crossfit">
                            <span>101</span>
                        </td>
                        <td class="hover-bg ts-item" data-tsmeta="crossfit">
                            <h6>Malavika</h6>
                        </td>
                        <td class="hover-bg ts-item" data-tsmeta="crossfit">
                            <h6>MAR IVANIOUS COLLEGE,TVM</h6>
                        </td>
                        <td class="hover-bg ts-item" data-tsmeta="crossfit">
                            <h6>Bsc. CS</h6>
                        </td>
                        <td class="hover-bg ts-item" data-tsmeta="crossfit">
                            <h6>256</h6>
                        </td>

                    </tr>
                    <tr>
                    <tr>
                        <td class="hover-bg ts-item" data-tsmeta="crossfit">
                            <span>101</span>
                        </td>
                        <td class="hover-bg ts-item" data-tsmeta="crossfit">
                            <h6>Malavika</h6>
                        </td>
                        <td class="hover-bg ts-item" data-tsmeta="crossfit">
                            <h6>MAR IVANIOUS COLLEGE,TVM</h6>
                        </td>
                        <td class="hover-bg ts-item" data-tsmeta="crossfit">
                            <h6>Bsc. CS</h6>
                        </td>
                        <td class="hover-bg ts-item" data-tsmeta="crossfit">
                            <h6>256</h6>
                        </td>

                    </tr>
                    <tr>
                    <tr>
                        <td class="hover-bg ts-item" data-tsmeta="crossfit">
                            <span>101</span>
                        </td>
                        <td class="hover-bg ts-item" data-tsmeta="crossfit">
                            <h6>Malavika</h6>
                        </td>
                        <td class="hover-bg ts-item" data-tsmeta="crossfit">
                            <h6>MAR IVANIOUS COLLEGE,TVM</h6>
                        </td>
                        <td class="hover-bg ts-item" data-tsmeta="crossfit">
                            <h6>Bsc. CS</h6>
                        </td>
                        <td class="hover-bg ts-item" data-tsmeta="crossfit">
                            <h6>256</h6>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

@*Results section Ends*@

@*Winners section Begins*@

<section class="price-section spad set-bg" data-setbg="../Images/price-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>WINNERS</h2>
                    <p>
                        YF 2k21 Overall Winners
                    </p>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-3">
                <a href="../Images/gallery/gallery-1.jpg" class="image-popup">
                    <div class="single-price-plan">
                        <h4>MALE</h4>
                        <div class="price-plan">
                            <h3>Ashok K Das</h3>
                            <h5>Points:356</h5>
                        </div>
                        <div class="tic-text">
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3">
                <a href="../Images/gallery/gallery-1.jpg" class="image-popup">
                    <div class="single-price-plan">
                        <h4>FEMALE</h4>
                        <div class="price-plan">
                            <h3>SreeVidhya</h3>
                            <h5>Points:356</h5>
                        </div>
                        <div class="tic-text">
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3">
                <a href="../Images/gallery/gallery-1.jpg" class="image-popup">
                    <div class="single-price-plan">
                        <h4>COLLEGE</h4>
                        <div class="price-plan">
                            <h3>UNIVERSITY COLLEGE</h3>
                            <h5>Points:956</h5>
                        </div>
                        <div class="tic-text">
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3">
                <a href="../Images/gallery/gallery-1.jpg" class="image-popup">
                    <div class="single-price-plan">
                        <h4>District</h4>
                        <div class="price-plan">
                            <h3>TRIVANDRUM</h3>
                            <h5>Points:892</h5>
                        </div>
                        <div class="tic-text">
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

@*Winners section Ends*@

@*reg-breadcrump section Starts*@

<section class="cta-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cta-text">
                    <h3>Stay Tuned</h3>
                    <p>Register now</p>
                </div>
                <a href="#" class="primary-btn cta-btn">Register</a>
            </div>
        </div>
    </div>
</section>

@*reg-breadcrump section Ends*@

@*contact-us section Starts*@

<div class="map" id="contacts">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15783.841126342362!2d76.93857586977538!3d8.503237499999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b05bbb8ae25e5e7%3A0xa6da773c78db7087!2sUniversity%20of%20Kerala!5e0!3m2!1sen!2sin!4v1614769318143!5m2!1sen!2sin" height="590" style="border: 0" allowfullscreen="" loading="eager"></iframe>
    <div class="map-contact-detalis">
        <div class="map-contact-form">
            <h5>Contact Us</h5>
            <form action="#">
                <input type="text" placeholder="Name">
                <input type="text" class="phone" placeholder="Phone">
                <textarea placeholder="Message"></textarea>
                <button type="submit" class="site-btn">Submit Now</button>
            </form>
        </div>
    </div>
</div>

@*contactus section Ends*@