
@{
    ViewBag.Title = "About Us";
}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg spad" data-setbg="../Image/hero-slider/hero-1.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb End -->
<!-- Aboutus Section Begin -->
<section class="aboutus-section spad">
    <div class="container">
        <div class="aboutus-page-text">
            <div class="row">
                <div class="col-xl-9 col-lg-10 m-auto">
                    <div class="section-title">
                        <h2>About Us</h2>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-10 m-auto">
                    <div class="section-title">
                        <h2 style="font-size: 25px;">പലായനം 2020</h2>
                        <p>With pride and Ecstasy we the Kerala University Union and the organising committee announce the advert of the largest youth festival of Asia, at Kariavattom.The Grand Festival has been proposed to be conducted from 2020 March 02 to 07.</p>
                    </div>
                </div>
            </div>
            <img src="~/Image/about-us2.jpg" alt="">

            <div class="row">
                <div class="col-lg-6">
                    <div class="about-us">
                        <h4>ABOUT US</h4>
                        <p>Around 5000 talented youth from more than 250 colleges affiliated to Kerala University participate in 103 cultural events to be held at five different venues like Govt.College Kariavattom, Govt.B.Ed College Kariavattom, SN College Chempazhanthy, SN College chempazhanthy for Advanced Studies, Greenfield Stadium Kariavattom.</p>
                        <p>
                            Elaborate arrangements have been made by the organising committee for smooth conducting of this youth festival. We request your whole hearted co-operation, encouragent and esteemed presence throughout the event t make it as a grand success.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-quality">
                        <h4>Rules</h4>
                        <p>Rules that each participant must follow</p>
                        <ul>
                            <li>
                                <i class="fa fa-check-circle-o"></i>“Sruthi Box”: can be used in Music items
                            </li>
                            <li>
                                <i class="fa fa-check-circle-o"></i>Grace Time: Grace time of 30 seconds shall be given to all items including music.

                            </li>
                            <li>
                                <i class="fa fa-check-circle-o"></i>Pick Up: pick up shall be used for Veena, Guitar, Violin and other instruments.
                            </li>
                            <li>
                                <i class="fa fa-check-circle-o"></i>Judges: No judge shall be allowed to judge the competitions of Kerala University Youth Festival for more than two consecutive years and judges shall be those who have proven their competence in their field of expertise.  The details regarding identity and field of expertise of judges shall be announced at the beginning of each event just as done in other Universities by the stage managers.
                            </li>
                            <li>
                                <i class="fa fa-check-circle-o"></i>The sale of video/CD of the event is banned in the venue of the festival.
                            </li>
                            <li>
                                <i class="fa fa-check-circle-o"></i>Only those participants who are identified by the Department of Students Services is permitted to participate in the Kerala University Youth Festival.  Stage Manager shall verify and ensure that the candidate has a valid identity issued by the Department of Students Services.
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Aboutus Section End -->
<!-- Trainer Section Begin -->
<section class="trainer-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>main team</h2>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="trainer-item">
                    <div class="ti-pic">
                        <img src="~/Image/coordinator/codinator-4.jpg" alt="">

                        @*<div class="ti-links">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>*@
                        <div class="trainer-text">
                            <h5>K Sreekumar</h5><h5><span>Organising Committee Chairman</span></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="trainer-item">
                    <div class="ti-pic">
                        <img src="~/Image/coordinator/codinator-1.jpg" alt="">

                        @*<div class="ti-links">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>*@
                        <div class="trainer-text">
                            <h5>Riyas Vahab</h5><h5><span>General Convenor</span></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="trainer-item">
                    <div class="ti-pic">
                        <img src="~/Image/coordinator/codinator-3.jpg" alt="">

                        @*<div class="ti-links">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>*@
                        <div class="trainer-text">
                            <h5>Abhijith J J</h5><h5><span>Program Committee Convenor</span></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="trainer-item">
                    <div class="ti-pic">
                        <img src="~/Image/coordinator/codinator-6.jpg" alt="">

                        @*<div class="ti-links">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>*@
                        <div class="trainer-text">
                            <h5>Convenor</h5><h5><span>Program Committee Convenor</span></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="trainer-item">
                    <div class="ti-pic">
                        <img src="~/Image/coordinator/codinator-2.jpg" alt="">

                        @*<div class="ti-links">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>*@
                        <div class="trainer-text">
                            <h5>A R Riyas</h5><h5><span>University Union Chairman</span></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="trainer-item">
                    <div class="ti-pic">
                        <img src="~/Image/coordinator/codinator-5.jpg" alt="">

                        @*<div class="ti-links">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>*@
                        <div class="trainer-text">
                            <h5>Anju Krishna G T</h5><h5><span>University Union General Secretary</span></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Trainer Section End -->
<!-- Cta Section Begin -->
<section class="cta-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cta-text">
                    <h3>YOUTH FESTIVAL</h3>
                    <p>Of the Students</p>
                    <p>By the Students</p>
                    <p>For the Students</p>
                </div>
                <a href="http://kuyf.keralauniversity.ac.in/" class="primary-btn cta-btn">REGISTER</a>
            </div>
        </div>
    </div>
</section>
<!-- Cta Section End -->
<div class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="footer-logo-item">
                    <div class="f-logo">
                        <a href="#"><img src="img/logo.png" alt=""></a>
                    </div>
                    <p></p>
                    <div class="social-links">
                        <h6>Follow us</h6>
                        <a href="https://www.facebook.com/keralauniversityunion201920/"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>\
                        <a href="https://instagram.com/palayanam__kuyf_2020?igshid=ngi4t5bo1o6p"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="footer-widget">
                    <h5>Get Info</h5>
                    <ul class="footer-info">
                        <li>
                            <i class="fa fa-phone"></i>
                            <span>Phone:</span>
                            <span>+91 95673 02207</span>
                            <span>+91 96331 53396</span>
                            <span>+91 94970 80847</span>
                        </li>
                        <li>
                            <i class="fa fa-envelope-o"></i>
                            <span>Email:</span>
                            keralauniversityunion.2019.20@gmail.com
                        </li>
                        <li>
                            <i class="fa fa-map-marker"></i>
                            <span>Address</span>
                            Kerala University students centre , PMG,Thiruvananthapuram, Kerala, 695033
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>