
@{
    ViewBag.Title = "About Us";
}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg spad" data-setbg="../Image/hero-slider/hero-1.jpg">


    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb End -->
<!-- Aboutus Section Begin -->
<section class="aboutus-section spad">
    <div class="container">
        <div class="aboutus-page-text">
            <div class="row">
                <div class="col-xl-9 col-lg-10 m-auto">
                    <div class="section-title">
                        <h2>About Us</h2>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-10 m-auto">
                    <div class="section-title">
                        <h2 style="font-size: 25px;">പലായനം 2020</h2>
                        <p>With pride and Ecstasy we the Kerala University Union and the organising committee announce the advert of the largest youth festival of Asia, at Kariavattom.The Grand Festival has been proposed to be conducted from 2020 March 02 to 07.</p>
                    </div>
                </div>
            </div>
            <img src="~/Image/about-us2.jpg" alt="">

            <div class="row">
                <div class="col-lg-6">
                    <div class="about-quality">
                        <h4>Rules</h4>
                        <p>Rules that each participant must follow</p>
                        <ul>
                            <li>
                                <i class="fa fa-check-circle-o"></i>“Sruthi Box”: can be used in Music items
                            </li>
                            <li>
                                <i class="fa fa-check-circle-o"></i>Grace Time: Grace time of 30 seconds shall be given to all items including music.

                            </li>
                            <li>
                                <i class="fa fa-check-circle-o"></i>Pick Up: pick up shall be used for Veena, Guitar, Violin and other instruments.
                            </li>
                            <li>
                                <i class="fa fa-check-circle-o"></i>Judges: No judge shall be allowed to judge the competitions of Kerala University Youth Festival for more than two consecutive years and judges shall be those who have proven their competence in their field of expertise.  The details regarding identity and field of expertise of judges shall be announced at the beginning of each event just as done in other Universities by the stage managers.
                            </li>
                            <li>
                                <i class="fa fa-check-circle-o"></i>The sale of video/CD of the event is banned in the venue of the festival.
                            </li>
                            <li>
                                <i class="fa fa-check-circle-o"></i>Only those participants who are identified by the Department of Students Services is permitted to participate in the Kerala University Youth Festival.  Stage Manager shall verify and ensure that the candidate has a valid identity issued by the Department of Students Services.
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-quality">
                        <h4>Rules</h4>
                        <p>Rules that each participant must follow</p>
                        <ul>
                            <li>
                                <i class="fa fa-check-circle-o"></i>“Sruthi Box”: can be used in Music items
                            </li>
                            <li>
                                <i class="fa fa-check-circle-o"></i>Grace Time: Grace time of 30 seconds shall be given to all items including music.

                            </li>
                            <li>
                                <i class="fa fa-check-circle-o"></i>Pick Up: pick up shall be used for Veena, Guitar, Violin and other instruments.
                            </li>
                            <li>
                                <i class="fa fa-check-circle-o"></i>Judges: No judge shall be allowed to judge the competitions of Kerala University Youth Festival for more than two consecutive years and judges shall be those who have proven their competence in their field of expertise.  The details regarding identity and field of expertise of judges shall be announced at the beginning of each event just as done in other Universities by the stage managers.
                            </li>
                            <li>
                                <i class="fa fa-check-circle-o"></i>The sale of video/CD of the event is banned in the venue of the festival.
                            </li>
                            <li>
                                <i class="fa fa-check-circle-o"></i>Only those participants who are identified by the Department of Students Services is permitted to participate in the Kerala University Youth Festival.  Stage Manager shall verify and ensure that the candidate has a valid identity issued by the Department of Students Services.
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Aboutus Section End -->