
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_VolunteerLayout.cshtml";
}

<h2>Index</h2>

<a href="~/SingleParticipations/Create">Single Event Registration</a> | <a href="~/GroupHeadParticipations/Create">Group Head Registration</a> | <a href="~/GroupMemParticiapations/Create">Group Member Registration</a>