
@{
    ViewBag.Title = "_HomeLayout";
}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Activitar Template">
    <meta name="keywords" content="Activitar, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Youth Governace | 2k21</title>

    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&amp;display=swap" rel="stylesheet">
    <link href="~/Content/Home/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Home/elegant-icons.css" rel="stylesheet" />
    <link href="~/Content/Home/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Home/nice-select.css" rel="stylesheet" />
    <link href="~/Content/Home/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/Home/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/Home/slicknav.min.css" rel="stylesheet" />
    <link href="~/Content/Home/style.css" rel="stylesheet" /> 
</head>
<body>

    @RenderBody();


    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-logo-item">
                        <div class="f-logo">
@*                            <a href="#"><img src="/Images/logo.png" alt=""></a>
*@                        </div>
                        <p>
                            "Youth is full of sport, age's breath is short; youth is nimble, age is lame,
                            Youth is hot and bold, age is weak and cold; Youth is wild, and age is tame"
                        </p>
                        <div class="social-links">
                            <h6>Follow us</h6>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="footer-widget">
                        <h5>Our Sponsers</h5>
                        <div class="footer-blog">
                            <a href="#" class="fb-item">
                                <h6>Kalyan Silks</h6>
                                <span class="blog-time">Promotional Partnerships</span>
                            </a>
                            <a href="#" class="fb-item">
                                <h6>Rajasthan Marbles</h6>
                                <span class="blog-time">Financial Sponsor</span>
                            </a>
                            <a href="#" class="fb-item">
                                <h6>Asianet</h6>
                                <span class="blog-time">Media Sponsor</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="footer-widget">
                        <h5>Program</h5>
                        <ul class="workout-program">
                            <li><a href="#Schedule">Schedule</a></li>
                            <li><a href="#gallery">Gallery</a></li>
                            <li><a href="#results">Results</a></li>
                            <li><a href="~/Registration/index">Registration</a></li>
                            <li><a href="~/Accounts/login">Login</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer-widget">
                        <h5>Get Info</h5>
                        <ul class="footer-info">
                            <li>
                                <i class="fa fa-phone"></i>
                                <span>Phone:</span>
                                +91 99 9999 9999 <br />
                                +91 99 9999 9999
                            </li>
                            <li>
                                <i class="fa fa-envelope-o"></i>
                                <span>Email:</span>
                                test@gmail.com
                            </li>
                            <li>
                                <i class="fa fa-map-marker"></i>
                                <span>Address</span>
                                University of Kerala Senate House Campus, Palayam, Thiruvananthapuram, Kerala 695034
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-text">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="ct-inside">
                            Copyright &copy;
                            @DateTime.Now.Year All rights reserved | Designed by  <a href="https://www.hackbal.com/" target="_blank">HACKBAL TEAMZ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    @*<script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/mixitup.min.js"></script>
        <script src="js/jquery.nice-select.min.js"></script>
        <script src="js/jquery.slicknav.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/masonry.pkgd.min.js"></script>
        <script src="js/main.js"></script>*@
    <script src="~/Scripts/Home/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/Home/bootstrap.min.js"></script>
    <script src="~/Scripts/Home/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/Home/mixitup.min.js"></script>
    <script src="~/Scripts/Home/jquery.nice-select.min.js"></script>
    <script src="~/Scripts/Home/jquery.slicknav.js"></script>
    <script src="~/Scripts/Home/owl.carousel.min.js"></script>
    <script src="~/Scripts/Home/masonry.pkgd.min.js"></script>
    <script src="~/Scripts/Home/main.js"></script>


    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
</body>

<!-- Mirrored from preview.colorlib.com/theme/activitar/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 06 Feb 2021 21:36:05 GMT -->
</html>

