USE [YouthGovence]
GO
/****** Object:  Table [dbo].[College]    Script Date: 02-03-2021 16:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[College](
	[ColID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[EnteredBy] [bigint] NULL,
	[EnteredOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_College] PRIMARY KEY CLUSTERED 
(
	[ColID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CollegeResult]    Script Date: 02-03-2021 16:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CollegeResult](
	[ColgID] [bigint] IDENTITY(1,1) NOT NULL,
	[CollegeName] [varchar](200) NULL,
	[CollegePoint] [bigint] NULL,
	[EnteredOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
	[EnteredBy] [bigint] NULL,
	[UpdatedBy] [bigint] NULL,
 CONSTRAINT [PK_CollegeResult] PRIMARY KEY CLUSTERED 
(
	[ColgID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 02-03-2021 16:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[CouID] [bigint] IDENTITY(1,1) NOT NULL,
	[DeptID] [bigint] NULL,
	[Name] [varchar](50) NULL,
	[EnteredBy] [bigint] NULL,
	[EnteredOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[CouID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Credential]    Script Date: 02-03-2021 16:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Credential](
	[CredID] [bigint] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](50) NULL,
	[IsEmailVerify] [bit] NULL,
	[EmailVerificationCode] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[PasswordResetCode] [varchar](50) NULL,
	[LastLoginIP] [varchar](50) NULL,
	[LastLoginOn] [datetime] NULL,
	[EnteredOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_Credential] PRIMARY KEY CLUSTERED 
(
	[CredID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 02-03-2021 16:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DeptID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[EnteredBy] [bigint] NULL,
	[EnteredOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[DeptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventWiseResult]    Script Date: 02-03-2021 16:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventWiseResult](
	[EvntID] [bigint] IDENTITY(1,1) NOT NULL,
	[EventName] [varchar](50) NULL,
	[FStudChestNumber] [varchar](50) NULL,
	[FStudName] [varchar](50) NULL,
	[FStudCollege] [varchar](50) NULL,
	[SStudChestNumber] [varchar](50) NULL,
	[SStudName] [varchar](50) NULL,
	[SStudCollege] [varchar](50) NULL,
	[TStudChestNumber] [varchar](50) NULL,
	[TStudName] [varchar](50) NULL,
	[TStudCollege] [varchar](50) NULL,
	[EnteredOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[EnteredBy] [bigint] NULL,
 CONSTRAINT [PK_EventWiseResult] PRIMARY KEY CLUSTERED 
(
	[EvntID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FirstPrizeTbl]    Script Date: 02-03-2021 16:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FirstPrizeTbl](
	[FIrstPrizeID] [bigint] IDENTITY(1,1) NOT NULL,
	[EventID] [bigint] NULL,
	[StudName] [varchar](50) NULL,
	[StudCollege] [varchar](200) NULL,
	[EnteredOn] [datetime] NULL,
	[EnteredBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
 CONSTRAINT [PK_FirstPrizeTbl] PRIMARY KEY CLUSTERED 
(
	[FIrstPrizeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GeneralSetting]    Script Date: 02-03-2021 16:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeneralSetting](
	[GenSetID] [bigint] IDENTITY(1,1) NOT NULL,
	[EnteredOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_GeneralSetting] PRIMARY KEY CLUSTERED 
(
	[GenSetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupHeadParticipation]    Script Date: 02-03-2021 16:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupHeadParticipation](
	[GrpPartID] [bigint] IDENTITY(1,1) NOT NULL,
	[TeamHeadID] [bigint] NULL,
	[GrpEvtID] [bigint] NULL,
	[EnteredOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_GroupHeadPart] PRIMARY KEY CLUSTERED 
(
	[GrpPartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupMemParticiapation]    Script Date: 02-03-2021 16:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupMemParticiapation](
	[GrpMemPartID] [bigint] IDENTITY(1,1) NOT NULL,
	[GrpPartID] [bigint] NULL,
	[TeamMemID] [bigint] NULL,
	[EnteredOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_GroupMemParticiapation] PRIMARY KEY CLUSTERED 
(
	[GrpMemPartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GrpEvent]    Script Date: 02-03-2021 16:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrpEvent](
	[GrpEvtID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[GrpPartcCount] [int] NULL,
	[EnteredBy] [bigint] NULL,
	[EnteredOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_GrpEvent] PRIMARY KEY CLUSTERED 
(
	[GrpEvtID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImageGallery]    Script Date: 02-03-2021 16:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageGallery](
	[ImGaID] [bigint] IDENTITY(1,1) NOT NULL,
	[ImgURL] [varchar](50) NULL,
	[ImgAlt] [varchar](50) NULL,
	[UploadedBy] [bigint] NULL,
	[EnteredOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_ImageGallery] PRIMARY KEY CLUSTERED 
(
	[ImGaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IndivijualResult]    Script Date: 02-03-2021 16:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IndivijualResult](
	[IndvID] [bigint] IDENTITY(1,1) NOT NULL,
	[StudName] [varchar](50) NULL,
	[StudPoint] [varchar](50) NULL,
	[StudCollege] [varchar](50) NULL,
	[EnteredOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
	[EnteredBy] [bigint] NULL,
	[UpdatedBy] [bigint] NULL,
 CONSTRAINT [PK_IndivijualResult] PRIMARY KEY CLUSTERED 
(
	[IndvID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 02-03-2021 16:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[NewsID] [bigint] IDENTITY(1,1) NOT NULL,
	[NewsTitle] [varchar](200) NULL,
	[NewsInfo] [varchar](max) NULL,
	[NewsLink] [varchar](200) NULL,
	[UpdatedBy] [bigint] NULL,
	[EnteredOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[NewsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParticipantFeMaleResult]    Script Date: 02-03-2021 16:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParticipantFeMaleResult](
	[PartFeMaleResultID] [bigint] IDENTITY(1,1) NOT NULL,
	[StudName] [varchar](50) NULL,
	[CollegeName] [varchar](200) NULL,
	[StudPoint] [bigint] NULL,
	[EnteredOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_ParticipantFeMaleResult] PRIMARY KEY CLUSTERED 
(
	[PartFeMaleResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParticipantMaleResult]    Script Date: 02-03-2021 16:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParticipantMaleResult](
	[PartMaleResultID] [bigint] IDENTITY(1,1) NOT NULL,
	[StudName] [varchar](50) NULL,
	[CollegeName] [varchar](200) NULL,
	[StudPoint] [bigint] NULL,
	[EnteredOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_ParticipantMaleResult] PRIMARY KEY CLUSTERED 
(
	[PartMaleResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrgShedule]    Script Date: 02-03-2021 16:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrgShedule](
	[SheduleID] [bigint] IDENTITY(1,1) NOT NULL,
	[EventName] [varchar](50) NULL,
	[EventCode] [varchar](50) NULL,
	[SheduleDate] [date] NULL,
	[StartingTime] [varchar](50) NULL,
	[EndingTime] [varchar](50) NULL,
	[Stage] [varchar](50) NULL,
	[CollegeName] [varchar](50) NULL,
	[CoOrdinatorName] [varchar](50) NULL,
	[CoOrdinatorNumber] [varchar](50) NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[EnteredOn] [datetime] NULL,
	[EnteredBy] [bigint] NULL,
 CONSTRAINT [PK_PrgShedule] PRIMARY KEY CLUSTERED 
(
	[SheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Result]    Script Date: 02-03-2021 16:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Result](
	[ResID] [bigint] IDENTITY(1,1) NOT NULL,
	[StudChestID] [bigint] NULL,
	[ItmID] [bigint] NULL,
	[EnteredBy] [bigint] NULL,
	[EnteredOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_Result] PRIMARY KEY CLUSTERED 
(
	[ResID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 02-03-2021 16:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[EnteredOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SecondPrizeTbl]    Script Date: 02-03-2021 16:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecondPrizeTbl](
	[SecondPrizeID] [bigint] IDENTITY(1,1) NOT NULL,
	[EventID] [bigint] NULL,
	[StudName] [varchar](50) NULL,
	[StudCollege] [varchar](200) NULL,
	[EnteredOn] [datetime] NULL,
	[EnteredBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
 CONSTRAINT [PK_SecondPrizeTbl] PRIMARY KEY CLUSTERED 
(
	[SecondPrizeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SingleEvent]    Script Date: 02-03-2021 16:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SingleEvent](
	[SinEvtID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[EnteredBy] [bigint] NULL,
	[EnteredOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_Item] PRIMARY KEY CLUSTERED 
(
	[SinEvtID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SingleParticipation]    Script Date: 02-03-2021 16:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SingleParticipation](
	[StudPartID] [bigint] IDENTITY(1,1) NOT NULL,
	[StudID] [bigint] NULL,
	[SinEvtID] [bigint] NULL,
	[EnteredOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_StudentParticipation] PRIMARY KEY CLUSTERED 
(
	[StudPartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 02-03-2021 16:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudID] [bigint] IDENTITY(1,1) NOT NULL,
	[CredID] [bigint] NULL,
	[RegID] [varchar](50) NULL,
	[FName] [varchar](50) NULL,
	[SName] [varchar](50) NULL,
	[Sex] [varchar](10) NULL,
	[ClgAdmistnNo] [varchar](10) NULL,
	[DateOfBirth] [datetime] NULL,
	[ProPic] [varchar](50) NULL,
	[ColID] [bigint] NULL,
	[DeptID] [bigint] NULL,
	[CouID] [bigint] NULL,
	[Phone] [varchar](50) NULL,
	[IsPhoneVerify] [bit] NULL,
	[PhoneVerificationCode] [varchar](50) NULL,
	[IsCollegeApproved] [bit] NULL,
	[IsEligibilityApproved] [bit] NULL,
	[IsChestNoProvided] [bit] NULL,
	[CollegeApprovedBy] [bigint] NULL,
	[EligibilityApprovedBy] [bigint] NULL,
	[ChestNoProvidedBy] [bigint] NULL,
	[EnteredOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[StudID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentChestNo]    Script Date: 02-03-2021 16:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentChestNo](
	[StudChestID] [bigint] IDENTITY(1,1) NOT NULL,
	[StudPartID] [bigint] NULL,
	[ChestNo] [varchar](50) NULL,
	[EnteredBy] [bigint] NULL,
	[EnteredOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_StudentChestNo] PRIMARY KEY CLUSTERED 
(
	[StudChestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuperAdmin]    Script Date: 02-03-2021 16:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuperAdmin](
	[SuAdID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[EnteredOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_SuperAdmin] PRIMARY KEY CLUSTERED 
(
	[SuAdID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThirdPrizeTbl]    Script Date: 02-03-2021 16:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThirdPrizeTbl](
	[ThirdPrizeID] [bigint] IDENTITY(1,1) NOT NULL,
	[EventID] [bigint] NULL,
	[StudName] [varchar](50) NULL,
	[StudCollege] [varchar](200) NULL,
	[EnteredOn] [datetime] NULL,
	[EnteredBy] [bigint] NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
 CONSTRAINT [PK_ThirdPrizeTbl] PRIMARY KEY CLUSTERED 
(
	[ThirdPrizeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Volunteer]    Script Date: 02-03-2021 16:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Volunteer](
	[VolID] [bigint] IDENTITY(1,1) NOT NULL,
	[CredID] [bigint] NULL,
	[RoleID] [bigint] NULL,
	[Name] [varchar](50) NULL,
	[Place] [varchar](50) NULL,
	[EnteredOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_Volunteer] PRIMARY KEY CLUSTERED 
(
	[VolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[College] ON 

INSERT [dbo].[College] ([ColID], [Name], [EnteredBy], [EnteredOn], [UpdatedOn]) VALUES (1, N'CHMM College for Advanced Studies Trivandrum', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[College] OFF
GO
SET IDENTITY_INSERT [dbo].[CollegeResult] ON 

INSERT [dbo].[CollegeResult] ([ColgID], [CollegeName], [CollegePoint], [EnteredOn], [UpdatedOn], [EnteredBy], [UpdatedBy]) VALUES (2, N'Mar Ivanios College, Nalanchira, Thiruvananthapuram', 223, NULL, NULL, 1, 1)
INSERT [dbo].[CollegeResult] ([ColgID], [CollegeName], [CollegePoint], [EnteredOn], [UpdatedOn], [EnteredBy], [UpdatedBy]) VALUES (3, N'Govt. College For Women, Vazhuthacadu, Thiruvananthapuram', 157, NULL, NULL, 1, 1)
INSERT [dbo].[CollegeResult] ([ColgID], [CollegeName], [CollegePoint], [EnteredOn], [UpdatedOn], [EnteredBy], [UpdatedBy]) VALUES (4, N'University College, , Thiruvananthapuram', 224, NULL, NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[CollegeResult] OFF
GO
SET IDENTITY_INSERT [dbo].[Course] ON 

INSERT [dbo].[Course] ([CouID], [DeptID], [Name], [EnteredBy], [EnteredOn], [UpdatedOn]) VALUES (1, 1, N'Master of Computer Application', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Course] OFF
GO
SET IDENTITY_INSERT [dbo].[Credential] ON 

INSERT [dbo].[Credential] ([CredID], [Email], [IsEmailVerify], [EmailVerificationCode], [Password], [PasswordResetCode], [LastLoginIP], [LastLoginOn], [EnteredOn], [UpdatedOn]) VALUES (1, N'abdullasirajudeen@gmail.com', 0, N'H31BVL8T41', N'password', NULL, NULL, NULL, CAST(N'2020-02-03T08:16:48.467' AS DateTime), CAST(N'2020-02-03T08:16:48.467' AS DateTime))
INSERT [dbo].[Credential] ([CredID], [Email], [IsEmailVerify], [EmailVerificationCode], [Password], [PasswordResetCode], [LastLoginIP], [LastLoginOn], [EnteredOn], [UpdatedOn]) VALUES (2, N'nakhilark@gmail.com', 0, N'G1J7G0UR0N', N'password', NULL, NULL, NULL, CAST(N'2020-02-03T17:53:27.050' AS DateTime), CAST(N'2020-02-03T17:53:27.050' AS DateTime))
INSERT [dbo].[Credential] ([CredID], [Email], [IsEmailVerify], [EmailVerificationCode], [Password], [PasswordResetCode], [LastLoginIP], [LastLoginOn], [EnteredOn], [UpdatedOn]) VALUES (3, N'ansababdulla@gmail.com', 0, N'E8TXHDTPZO', N'Ansab', NULL, NULL, NULL, CAST(N'2020-02-03T17:58:50.427' AS DateTime), CAST(N'2020-02-03T17:58:50.427' AS DateTime))
SET IDENTITY_INSERT [dbo].[Credential] OFF
GO
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([DeptID], [Name], [EnteredBy], [EnteredOn], [UpdatedOn]) VALUES (1, N'Master of Computer Application', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Department] OFF
GO
SET IDENTITY_INSERT [dbo].[EventWiseResult] ON 

INSERT [dbo].[EventWiseResult] ([EvntID], [EventName], [FStudChestNumber], [FStudName], [FStudCollege], [SStudChestNumber], [SStudName], [SStudCollege], [TStudChestNumber], [TStudName], [TStudCollege], [EnteredOn], [UpdatedOn], [UpdatedBy], [EnteredBy]) VALUES (2, N'KADHAKALI  (M)', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 1)
INSERT [dbo].[EventWiseResult] ([EvntID], [EventName], [FStudChestNumber], [FStudName], [FStudCollege], [SStudChestNumber], [SStudName], [SStudCollege], [TStudChestNumber], [TStudName], [TStudCollege], [EnteredOn], [UpdatedOn], [UpdatedBy], [EnteredBy]) VALUES (3, N'GHAZAL (M)', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 1)
INSERT [dbo].[EventWiseResult] ([EvntID], [EventName], [FStudChestNumber], [FStudName], [FStudCollege], [SStudChestNumber], [SStudName], [SStudCollege], [TStudChestNumber], [TStudName], [TStudCollege], [EnteredOn], [UpdatedOn], [UpdatedBy], [EnteredBy]) VALUES (4, N'KADHAKALI  (F)', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[EventWiseResult] OFF
GO
SET IDENTITY_INSERT [dbo].[FirstPrizeTbl] ON 

INSERT [dbo].[FirstPrizeTbl] ([FIrstPrizeID], [EventID], [StudName], [StudCollege], [EnteredOn], [EnteredBy], [UpdatedOn], [UpdatedBy]) VALUES (1, 2, N'VISHNURAM S S', N'PG MTTM 1ST YEAR,  MAR IVANIOS TRIVANDRUM', NULL, NULL, NULL, NULL)
INSERT [dbo].[FirstPrizeTbl] ([FIrstPrizeID], [EventID], [StudName], [StudCollege], [EnteredOn], [EnteredBy], [UpdatedOn], [UpdatedBy]) VALUES (3, 3, N'DEVANAND SP', N'SREE SWATHI THIRUNAL COLLEGE OF MUSIC, TVM', NULL, NULL, NULL, NULL)
INSERT [dbo].[FirstPrizeTbl] ([FIrstPrizeID], [EventID], [StudName], [StudCollege], [EnteredOn], [EnteredBy], [UpdatedOn], [UpdatedBy]) VALUES (4, 3, N'SARANG SUNIL', N'SARASWATHY COLLEGE OF ARTS AND SCIENCE, VILAPPIL , TVM', NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[FirstPrizeTbl] OFF
GO
SET IDENTITY_INSERT [dbo].[ImageGallery] ON 

INSERT [dbo].[ImageGallery] ([ImGaID], [ImgURL], [ImgAlt], [UploadedBy], [EnteredOn], [UpdatedOn]) VALUES (4, N'gallery2.jpg', N'Image Upload ', 1, CAST(N'2020-02-25T10:10:39.007' AS DateTime), CAST(N'2020-02-25T10:10:39.007' AS DateTime))
INSERT [dbo].[ImageGallery] ([ImGaID], [ImgURL], [ImgAlt], [UploadedBy], [EnteredOn], [UpdatedOn]) VALUES (5, N'gallery3.jpg', NULL, 1, CAST(N'2020-02-25T10:13:54.443' AS DateTime), CAST(N'2020-02-25T10:13:54.443' AS DateTime))
INSERT [dbo].[ImageGallery] ([ImGaID], [ImgURL], [ImgAlt], [UploadedBy], [EnteredOn], [UpdatedOn]) VALUES (6, N'gallery4.jpg', NULL, 1, CAST(N'2020-02-25T10:14:04.337' AS DateTime), CAST(N'2020-02-25T10:14:04.337' AS DateTime))
SET IDENTITY_INSERT [dbo].[ImageGallery] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

INSERT [dbo].[News] ([NewsID], [NewsTitle], [NewsInfo], [NewsLink], [UpdatedBy], [EnteredOn], [UpdatedOn]) VALUES (8, N'Postponded Closing Session', N'The closing session of the Kerala University Youth Festival, to be held on March 7, has been postponed due to some technical reasons.', NULL, 2, CAST(N'2020-03-07T14:52:33.370' AS DateTime), CAST(N'2020-03-07T14:52:33.370' AS DateTime))
SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[ParticipantFeMaleResult] ON 

INSERT [dbo].[ParticipantFeMaleResult] ([PartFeMaleResultID], [StudName], [CollegeName], [StudPoint], [EnteredOn], [UpdatedOn]) VALUES (1, N'Naila S', N'University College TVM', 136, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ParticipantFeMaleResult] OFF
GO
SET IDENTITY_INSERT [dbo].[ParticipantMaleResult] ON 

INSERT [dbo].[ParticipantMaleResult] ([PartMaleResultID], [StudName], [CollegeName], [StudPoint], [EnteredOn], [UpdatedOn]) VALUES (1, N'Arun Vijay', N'CHMM college', 125, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ParticipantMaleResult] OFF
GO
SET IDENTITY_INSERT [dbo].[PrgShedule] ON 

INSERT [dbo].[PrgShedule] ([SheduleID], [EventName], [EventCode], [SheduleDate], [StartingTime], [EndingTime], [Stage], [CollegeName], [CoOrdinatorName], [CoOrdinatorNumber], [UpdatedOn], [UpdatedBy], [EnteredOn], [EnteredBy]) VALUES (8, N'Flag Hoisting', NULL, CAST(N'2020-03-02' AS Date), N'4 pm', NULL, N'STAGE 01   (ARTICLE 14)', N' GCK', NULL, NULL, NULL, 1, NULL, 1)
INSERT [dbo].[PrgShedule] ([SheduleID], [EventName], [EventCode], [SheduleDate], [StartingTime], [EndingTime], [Stage], [CollegeName], [CoOrdinatorName], [CoOrdinatorNumber], [UpdatedOn], [UpdatedBy], [EnteredOn], [EnteredBy]) VALUES (9, N'Inauguration', NULL, CAST(N'2020-03-02' AS Date), N'5pm', NULL, N'STAGE 01   (ARTICLE 14)', N' GCK', NULL, NULL, NULL, 1, NULL, 1)
INSERT [dbo].[PrgShedule] ([SheduleID], [EventName], [EventCode], [SheduleDate], [StartingTime], [EndingTime], [Stage], [CollegeName], [CoOrdinatorName], [CoOrdinatorNumber], [UpdatedOn], [UpdatedBy], [EnteredOn], [EnteredBy]) VALUES (10, N'Thiruvathira', NULL, CAST(N'2020-03-02' AS Date), N'7pm', NULL, N'STAGE 01   (ARTICLE 14)', N' GCK', NULL, NULL, NULL, 1, NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[PrgShedule] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [Name], [EnteredOn], [UpdatedOn]) VALUES (1, N'Front Volunteer', NULL, NULL)
INSERT [dbo].[Role] ([RoleID], [Name], [EnteredOn], [UpdatedOn]) VALUES (2, N'Stage Volunteer', NULL, NULL)
INSERT [dbo].[Role] ([RoleID], [Name], [EnteredOn], [UpdatedOn]) VALUES (3, N'News Updater', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[SecondPrizeTbl] ON 

INSERT [dbo].[SecondPrizeTbl] ([SecondPrizeID], [EventID], [StudName], [StudCollege], [EnteredOn], [EnteredBy], [UpdatedOn], [UpdatedBy]) VALUES (2, 2, N'ABHINAND A', N'2ND YEAR BSC CHEMISTRY, BISHOP MOORE MAVELIKKARA', NULL, 1, NULL, 1)
INSERT [dbo].[SecondPrizeTbl] ([SecondPrizeID], [EventID], [StudName], [StudCollege], [EnteredOn], [EnteredBy], [UpdatedOn], [UpdatedBy]) VALUES (3, 4, N'SOUPARNIKA PRADEEP', N'1ST YEAR MA ENGLISH , ALL SAINTS COLLEGE CHAKA TRIVANDRUM', NULL, 1, NULL, 1)
INSERT [dbo].[SecondPrizeTbl] ([SecondPrizeID], [EventID], [StudName], [StudCollege], [EnteredOn], [EnteredBy], [UpdatedOn], [UpdatedBy]) VALUES (4, 3, N'SALCHIM KARAKAT', N'MAHATMA GANDHI COLLEGE,KESAVADASAPURAM,TVM', NULL, 1, NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[SecondPrizeTbl] OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

SET IDENTITY_INSERT [dbo].[Student] OFF
GO
SET IDENTITY_INSERT [dbo].[SuperAdmin] ON 

INSERT [dbo].[SuperAdmin] ([SuAdID], [Name], [Email], [Password], [EnteredOn], [UpdatedOn]) VALUES (1, N'Admin', N'admin@hackbal.com', N'password', NULL, NULL)
SET IDENTITY_INSERT [dbo].[SuperAdmin] OFF
GO
SET IDENTITY_INSERT [dbo].[ThirdPrizeTbl] ON 

INSERT [dbo].[ThirdPrizeTbl] ([ThirdPrizeID], [EventID], [StudName], [StudCollege], [EnteredOn], [EnteredBy], [UpdatedOn], [UpdatedBy]) VALUES (1, 2, N'AMAL SHEKHAR A S', N'3RD YEAR BA SANSKRIT, NSS COLLEGE PANDALAM', NULL, 1, NULL, 1)
INSERT [dbo].[ThirdPrizeTbl] ([ThirdPrizeID], [EventID], [StudName], [StudCollege], [EnteredOn], [EnteredBy], [UpdatedOn], [UpdatedBy]) VALUES (2, 3, N'AJAYKRISHNA T', N'CSS KARIYAVATTOM CAMPUS, UNIVERSITY OF KERALA', NULL, 1, NULL, 1)
INSERT [dbo].[ThirdPrizeTbl] ([ThirdPrizeID], [EventID], [StudName], [StudCollege], [EnteredOn], [EnteredBy], [UpdatedOn], [UpdatedBy]) VALUES (3, 3, N'ROHITH CHANDRAN V S', N'UNIVERSITY COLLEGE ,TRIVANDRUM', NULL, 1, NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[ThirdPrizeTbl] OFF
GO
SET IDENTITY_INSERT [dbo].[Volunteer] ON 

INSERT [dbo].[Volunteer] ([VolID], [CredID], [RoleID], [Name], [Place], [EnteredOn], [UpdatedOn]) VALUES (1, 11, 4, N'Gallery Uploader', N'Trivandrum', CAST(N'2020-02-07T07:27:59.240' AS DateTime), CAST(N'2020-02-07T07:27:59.240' AS DateTime))
INSERT [dbo].[Volunteer] ([VolID], [CredID], [RoleID], [Name], [Place], [EnteredOn], [UpdatedOn]) VALUES (2, 12, 3, N'News Uploder', N'Trivandrum', CAST(N'2020-02-07T07:33:02.897' AS DateTime), CAST(N'2020-02-07T07:33:02.897' AS DateTime))
INSERT [dbo].[Volunteer] ([VolID], [CredID], [RoleID], [Name], [Place], [EnteredOn], [UpdatedOn]) VALUES (3, 14, 1, N'Nakhil', N'TVM', CAST(N'2020-09-22T03:05:49.767' AS DateTime), CAST(N'2020-09-22T03:05:49.767' AS DateTime))
SET IDENTITY_INSERT [dbo].[Volunteer] OFF
GO
ALTER TABLE [dbo].[College]  WITH CHECK ADD  CONSTRAINT [FK_College_Volunteer] FOREIGN KEY([EnteredBy])
REFERENCES [dbo].[Volunteer] ([VolID])
GO
ALTER TABLE [dbo].[College] CHECK CONSTRAINT [FK_College_Volunteer]
GO
ALTER TABLE [dbo].[CollegeResult]  WITH CHECK ADD  CONSTRAINT [FK_CollegeResult_Volunteer] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Volunteer] ([VolID])
GO
ALTER TABLE [dbo].[CollegeResult] CHECK CONSTRAINT [FK_CollegeResult_Volunteer]
GO
ALTER TABLE [dbo].[CollegeResult]  WITH CHECK ADD  CONSTRAINT [FK_CollegeResult_Volunteer1] FOREIGN KEY([EnteredBy])
REFERENCES [dbo].[Volunteer] ([VolID])
GO
ALTER TABLE [dbo].[CollegeResult] CHECK CONSTRAINT [FK_CollegeResult_Volunteer1]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_Department] FOREIGN KEY([DeptID])
REFERENCES [dbo].[Department] ([DeptID])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_Department]
GO
ALTER TABLE [dbo].[EventWiseResult]  WITH CHECK ADD  CONSTRAINT [FK_EventWiseResult_Volunteer] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Volunteer] ([VolID])
GO
ALTER TABLE [dbo].[EventWiseResult] CHECK CONSTRAINT [FK_EventWiseResult_Volunteer]
GO
ALTER TABLE [dbo].[EventWiseResult]  WITH CHECK ADD  CONSTRAINT [FK_EventWiseResult_Volunteer1] FOREIGN KEY([EnteredBy])
REFERENCES [dbo].[Volunteer] ([VolID])
GO
ALTER TABLE [dbo].[EventWiseResult] CHECK CONSTRAINT [FK_EventWiseResult_Volunteer1]
GO
ALTER TABLE [dbo].[FirstPrizeTbl]  WITH CHECK ADD  CONSTRAINT [FK_FirstPrizeTbl_EventWiseResult] FOREIGN KEY([EventID])
REFERENCES [dbo].[EventWiseResult] ([EvntID])
GO
ALTER TABLE [dbo].[FirstPrizeTbl] CHECK CONSTRAINT [FK_FirstPrizeTbl_EventWiseResult]
GO
ALTER TABLE [dbo].[FirstPrizeTbl]  WITH CHECK ADD  CONSTRAINT [FK_FirstPrizeTbl_Volunteer] FOREIGN KEY([EnteredBy])
REFERENCES [dbo].[Volunteer] ([VolID])
GO
ALTER TABLE [dbo].[FirstPrizeTbl] CHECK CONSTRAINT [FK_FirstPrizeTbl_Volunteer]
GO
ALTER TABLE [dbo].[FirstPrizeTbl]  WITH CHECK ADD  CONSTRAINT [FK_FirstPrizeTbl_Volunteer1] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Volunteer] ([VolID])
GO
ALTER TABLE [dbo].[FirstPrizeTbl] CHECK CONSTRAINT [FK_FirstPrizeTbl_Volunteer1]
GO
ALTER TABLE [dbo].[GroupHeadParticipation]  WITH CHECK ADD  CONSTRAINT [FK_GroupHeadPart_GrpEvent] FOREIGN KEY([GrpEvtID])
REFERENCES [dbo].[GrpEvent] ([GrpEvtID])
GO
ALTER TABLE [dbo].[GroupHeadParticipation] CHECK CONSTRAINT [FK_GroupHeadPart_GrpEvent]
GO
ALTER TABLE [dbo].[GroupHeadParticipation]  WITH CHECK ADD  CONSTRAINT [FK_GroupHeadPart_Student] FOREIGN KEY([TeamHeadID])
REFERENCES [dbo].[Student] ([StudID])
GO
ALTER TABLE [dbo].[GroupHeadParticipation] CHECK CONSTRAINT [FK_GroupHeadPart_Student]
GO
ALTER TABLE [dbo].[GroupMemParticiapation]  WITH CHECK ADD  CONSTRAINT [FK_GroupMemParticiapation_GrpEvent] FOREIGN KEY([GrpPartID])
REFERENCES [dbo].[GroupHeadParticipation] ([GrpPartID])
GO
ALTER TABLE [dbo].[GroupMemParticiapation] CHECK CONSTRAINT [FK_GroupMemParticiapation_GrpEvent]
GO
ALTER TABLE [dbo].[GroupMemParticiapation]  WITH CHECK ADD  CONSTRAINT [FK_GroupMemParticiapation_Student] FOREIGN KEY([TeamMemID])
REFERENCES [dbo].[Student] ([StudID])
GO
ALTER TABLE [dbo].[GroupMemParticiapation] CHECK CONSTRAINT [FK_GroupMemParticiapation_Student]
GO
ALTER TABLE [dbo].[GrpEvent]  WITH CHECK ADD  CONSTRAINT [FK_GrpEvent_Volunteer] FOREIGN KEY([EnteredBy])
REFERENCES [dbo].[Volunteer] ([VolID])
GO
ALTER TABLE [dbo].[GrpEvent] CHECK CONSTRAINT [FK_GrpEvent_Volunteer]
GO
ALTER TABLE [dbo].[ImageGallery]  WITH CHECK ADD  CONSTRAINT [FK_ImageGallery_Volunteer] FOREIGN KEY([UploadedBy])
REFERENCES [dbo].[Volunteer] ([VolID])
GO
ALTER TABLE [dbo].[ImageGallery] CHECK CONSTRAINT [FK_ImageGallery_Volunteer]
GO
ALTER TABLE [dbo].[IndivijualResult]  WITH CHECK ADD  CONSTRAINT [FK_IndivijualResult_Volunteer] FOREIGN KEY([EnteredBy])
REFERENCES [dbo].[Volunteer] ([VolID])
GO
ALTER TABLE [dbo].[IndivijualResult] CHECK CONSTRAINT [FK_IndivijualResult_Volunteer]
GO
ALTER TABLE [dbo].[IndivijualResult]  WITH CHECK ADD  CONSTRAINT [FK_IndivijualResult_Volunteer1] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Volunteer] ([VolID])
GO
ALTER TABLE [dbo].[IndivijualResult] CHECK CONSTRAINT [FK_IndivijualResult_Volunteer1]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_Volunteer] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Volunteer] ([VolID])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_Volunteer]
GO
ALTER TABLE [dbo].[PrgShedule]  WITH CHECK ADD  CONSTRAINT [FK_PrgShedule_Volunteer] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Volunteer] ([VolID])
GO
ALTER TABLE [dbo].[PrgShedule] CHECK CONSTRAINT [FK_PrgShedule_Volunteer]
GO
ALTER TABLE [dbo].[PrgShedule]  WITH CHECK ADD  CONSTRAINT [FK_PrgShedule_Volunteer1] FOREIGN KEY([EnteredBy])
REFERENCES [dbo].[Volunteer] ([VolID])
GO
ALTER TABLE [dbo].[PrgShedule] CHECK CONSTRAINT [FK_PrgShedule_Volunteer1]
GO
ALTER TABLE [dbo].[Result]  WITH CHECK ADD  CONSTRAINT [FK_Result_Item] FOREIGN KEY([ItmID])
REFERENCES [dbo].[SingleEvent] ([SinEvtID])
GO
ALTER TABLE [dbo].[Result] CHECK CONSTRAINT [FK_Result_Item]
GO
ALTER TABLE [dbo].[Result]  WITH CHECK ADD  CONSTRAINT [FK_Result_StudentChestNo] FOREIGN KEY([StudChestID])
REFERENCES [dbo].[StudentChestNo] ([StudChestID])
GO
ALTER TABLE [dbo].[Result] CHECK CONSTRAINT [FK_Result_StudentChestNo]
GO
ALTER TABLE [dbo].[Result]  WITH CHECK ADD  CONSTRAINT [FK_Result_Volunteer] FOREIGN KEY([EnteredBy])
REFERENCES [dbo].[Volunteer] ([VolID])
GO
ALTER TABLE [dbo].[Result] CHECK CONSTRAINT [FK_Result_Volunteer]
GO
ALTER TABLE [dbo].[Result]  WITH CHECK ADD  CONSTRAINT [FK_Result_Volunteer1] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Volunteer] ([VolID])
GO
ALTER TABLE [dbo].[Result] CHECK CONSTRAINT [FK_Result_Volunteer1]
GO
ALTER TABLE [dbo].[SecondPrizeTbl]  WITH CHECK ADD  CONSTRAINT [FK_SecondPrizeTbl_EventWiseResult] FOREIGN KEY([EventID])
REFERENCES [dbo].[EventWiseResult] ([EvntID])
GO
ALTER TABLE [dbo].[SecondPrizeTbl] CHECK CONSTRAINT [FK_SecondPrizeTbl_EventWiseResult]
GO
ALTER TABLE [dbo].[SecondPrizeTbl]  WITH CHECK ADD  CONSTRAINT [FK_SecondPrizeTbl_Volunteer] FOREIGN KEY([EnteredBy])
REFERENCES [dbo].[Volunteer] ([VolID])
GO
ALTER TABLE [dbo].[SecondPrizeTbl] CHECK CONSTRAINT [FK_SecondPrizeTbl_Volunteer]
GO
ALTER TABLE [dbo].[SecondPrizeTbl]  WITH CHECK ADD  CONSTRAINT [FK_SecondPrizeTbl_Volunteer1] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Volunteer] ([VolID])
GO
ALTER TABLE [dbo].[SecondPrizeTbl] CHECK CONSTRAINT [FK_SecondPrizeTbl_Volunteer1]
GO
ALTER TABLE [dbo].[SingleParticipation]  WITH CHECK ADD  CONSTRAINT [FK_StudentParticipation_Item] FOREIGN KEY([SinEvtID])
REFERENCES [dbo].[SingleEvent] ([SinEvtID])
GO
ALTER TABLE [dbo].[SingleParticipation] CHECK CONSTRAINT [FK_StudentParticipation_Item]
GO
ALTER TABLE [dbo].[SingleParticipation]  WITH CHECK ADD  CONSTRAINT [FK_StudentParticipation_Student] FOREIGN KEY([StudID])
REFERENCES [dbo].[Student] ([StudID])
GO
ALTER TABLE [dbo].[SingleParticipation] CHECK CONSTRAINT [FK_StudentParticipation_Student]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_College] FOREIGN KEY([ColID])
REFERENCES [dbo].[College] ([ColID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_College]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Course] FOREIGN KEY([CouID])
REFERENCES [dbo].[Course] ([CouID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Course]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Credential] FOREIGN KEY([CredID])
REFERENCES [dbo].[Credential] ([CredID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Credential]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Department] FOREIGN KEY([DeptID])
REFERENCES [dbo].[Department] ([DeptID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Department]
GO
ALTER TABLE [dbo].[StudentChestNo]  WITH CHECK ADD  CONSTRAINT [FK_StudentChestNo_StudentParticipation] FOREIGN KEY([StudPartID])
REFERENCES [dbo].[SingleParticipation] ([StudPartID])
GO
ALTER TABLE [dbo].[StudentChestNo] CHECK CONSTRAINT [FK_StudentChestNo_StudentParticipation]
GO
ALTER TABLE [dbo].[StudentChestNo]  WITH CHECK ADD  CONSTRAINT [FK_StudentChestNo_Volunteer] FOREIGN KEY([EnteredBy])
REFERENCES [dbo].[Volunteer] ([VolID])
GO
ALTER TABLE [dbo].[StudentChestNo] CHECK CONSTRAINT [FK_StudentChestNo_Volunteer]
GO
ALTER TABLE [dbo].[ThirdPrizeTbl]  WITH CHECK ADD  CONSTRAINT [FK_ThirdPrizeTbl_EventWiseResult] FOREIGN KEY([EventID])
REFERENCES [dbo].[EventWiseResult] ([EvntID])
GO
ALTER TABLE [dbo].[ThirdPrizeTbl] CHECK CONSTRAINT [FK_ThirdPrizeTbl_EventWiseResult]
GO
ALTER TABLE [dbo].[ThirdPrizeTbl]  WITH CHECK ADD  CONSTRAINT [FK_ThirdPrizeTbl_Volunteer] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Volunteer] ([VolID])
GO
ALTER TABLE [dbo].[ThirdPrizeTbl] CHECK CONSTRAINT [FK_ThirdPrizeTbl_Volunteer]
GO
ALTER TABLE [dbo].[ThirdPrizeTbl]  WITH CHECK ADD  CONSTRAINT [FK_ThirdPrizeTbl_Volunteer1] FOREIGN KEY([EnteredBy])
REFERENCES [dbo].[Volunteer] ([VolID])
GO
ALTER TABLE [dbo].[ThirdPrizeTbl] CHECK CONSTRAINT [FK_ThirdPrizeTbl_Volunteer1]
GO
ALTER TABLE [dbo].[Volunteer]  WITH CHECK ADD  CONSTRAINT [FK_Volunteer_Credential] FOREIGN KEY([CredID])
REFERENCES [dbo].[Credential] ([CredID])
GO
ALTER TABLE [dbo].[Volunteer] CHECK CONSTRAINT [FK_Volunteer_Credential]
GO
ALTER TABLE [dbo].[Volunteer]  WITH CHECK ADD  CONSTRAINT [FK_Volunteer_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[Volunteer] CHECK CONSTRAINT [FK_Volunteer_Role]
GO
